html
body{
    background-color: #052C3D;
   # color:black;
    background-image: url("/static/bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    height: 100vh;
}
.header p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    color: #47B7DB;
}
.plot.select{
border:5px groove #47B7DB ;
}
.row {
    margin-top: -90px;

}
.row2 {
    margin-top: -128px;

}

.header span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }

  .select {
    cursor: pointer;
    #display: inline-block;
    position: relative;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    width: 170px;
    height: 58px;
  }

  .select-styled {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0;
    background-color: #084A67;
    padding: 8px 15px;

    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .select-styled:hover {
    background-color: #084A67;
  }
  .select-styled:active, .select-styled.active {
    background-color: #084A67;
  }
  .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
  }

  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #084A67;
  }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px groove #828181 ;
    # #ffbde7
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover {
    color: #c0392b;
    background: #fff;
  }
  .select-options li[rel="hide"] {
    display: none;
  }
  .button {
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Montserrat
  font-size: 12px;
  font-weight: 600;
  margin: 0px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  background-color: #ffabab;
  background-image: linear-gradient(to right,#4d579e , #4d579e);
  color: white;
  #border: 1px ridge white;
  top:100px;
}
.button1:hover {
  background-color: #052C3D;
  color: white;
}
.topnav {
    position:absolute;
  overflow: hidden;
  background-color:#084A67;
  top: 8px;
  right: 225px;
}

.topnav a {
  position:relative;
  float: left;
  display: block;
  #border-style: solid; border-width: thin; border-color: #FFFFFF;
  border-right: 1px solid black;
  color: white;
  text-align: center;
  padding: 12px 10px ;
  text-decoration: none;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
<!--  background-color: grey;-->
<!--  padding:10px 5px;-->
  color: white;
}

.topnav .icon {
  color:white;
  display: none;
}


  .topnav.responsive a {
    float: none;
    font-weight: bold;
    display:inline-block;
    display: block;
    text-size:12px;
    color:white;
    border-collapse: separate;
    text-align: center;
  }
  .column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
    float:right;

    border-radius: -0.75rem;
}
.btnDownload{
    padding: 5px 10px 4px 13px;
    margin-top:-60px;
    margin-right:15px;
    font-family: Circular Std Medium;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 1px;
    text-align: center;
    color: white;
    background-color: #47B7DB;
    border: 1/2px solid #E0E0E0;
}
btnEqual{
    padding: 5px 25px 5px 25px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: white;
    background: #47B7DB;

}

.ml-auto, .mx-auto {
    margin-left: 500px;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    color:white;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: absolute;}
  .topnav.responsive .icon {
    position: relative;
    color:white;

  }

}


